<div class ="ring">
   <span class="playeroneis"><span class="player">In the top left corner, we got the featherweight noob <span class="player-name"><%= @player1name %></span>!</span></span>
   <span class="playertwois"><span class="player">Meanwhile, <span class="player-name"><%= @player2name %></span>, in the bottom right corner, stretching.</span></span>
   <div class="playertwo"><%= "TEST" %>
</div>
   <div class="playerone"><%= @player_one %>
</div>
</div>

