<!DOCTYPE html>
 <html>
  <head>
  <title>Poke Battle</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />  
  </head>
  <body>
  <h1>NON-MORTAL KOMBAT</h1>
  <div>Test text hello</div>
  <%= yield %>
  </body>
  </html>