
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZYokSds18S0xR41.woff2) format('woff2');
}

/* palette */
:root {
  --white: #fffcf2;
  --vivid: #232ed1;
  --indigo: #414288;
  --dark-indigo: #2c2d5c;
  --star: #f7dd72;
  --comet: #ee964b;
  --fire: #f78154;
  --red: #fb6107;
  --black: #0a090c;
}

body {
  background-image: url("imgs/ghidorahvsgodzilla.jpg");
  background-repeat: no-repeat;
  color: var(--white);
  font-family: 'Source Sans Pro';
}

h1 {
  color: var(--red);
}

.ring {
  display: grid;
  grid-template-columns: 300px 400px 300px;
  grid-template-rows: 150px 150px 150px 150px;

}

.playeroneis {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.playertwois {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.playerone {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: var(--black)
}

.playertwo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--black)
}

.player {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 40px;
  color: var(--fire);
  padding: 1em;
}

.player-name {
  text-transform: uppercase;
  letter-spacing: 3rem;
}

.launch {
  position: relative;
  justify-content: center;
  align-items: center;
  background: var(--star);
  width: 500px;
  height: 100px;
  border: 10px solid var(--dark-indigo);
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-size: 2rem;
  font-style: bold;
  position: absolute;
  top: 250px;
}

.launchy {
  position: relative;
  justify-content: center;
  align-items: center;
  background: var(--star);
  width: 500px;
  height: 100px;
  border: 10px solid var(--dark-indigo);
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-size: 2rem;
  font-style: bold;
}